/* For screens up to 572px wide */
@media only screen and (max-width: 572px) {
    .dabba {
        width: 90%;
        left: 5%;
    }

    .bars {
        display: block;
    }

    .nav-menu {
        display: none;
    }
}

/* For screens up to 768px wide */
@media only screen and (max-width: 768px) {
    section.Skill {
        height: auto;
    }
    section {
        height: auto;
    }

    .dabba {
        width: 90%;
        left: 5%;
    }

    .dabba::after {
        left: -5%;
    }

    .divider {
        top: 10%;
        left: 2%;
    }

    .box1 {
        margin-left: 0%;
    }

    #contact {
        height: auto;
        padding: 20px;
    }

    .box {
        flex-wrap: wrap;
    }

    .box2 {
        width: 90%;
        margin: 5% auto;
    }
}
